<section class="block">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis,
        fugit assumenda architecto doloremque et cupiditate nostrum doloribus
        iusto deleniti.
      </p>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis,
        fugit assumenda architecto doloremque et cupiditate nostrum doloribus
        iusto deleniti.
      </p>
    </div>
  </div>
</section>
